<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HussainAemenFinalProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>625A2C4B1C7EA22000A38E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>625A2C5F1C7EA22000A38E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>625A2C6A1C7EA22000A38E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
